body{
    background-color: #E5E5E5;
}
.modal{
    width:433px;
    padding:32px 32px 60px 32px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.title-inner{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 26px;
}
.title{
    font-size: 24px;
    font-weight:700px;
}

.cross{
    border: none;
    background-color: #fff;  
}
/* First type */
.notification{
    display: flex;
    background-color:#F0F1F3;
    padding:10px 200px 10px 34px;
    margin-bottom: 22px;
    position: relative;
}
.notification::before{
    content:"";
    position: absolute;
    left: 8px;
    background: url("../images/union.svg");
    width:16px;
    height:16px;
    background-repeat: no-repeat;
}
/* Second type */
/* .notification{
    display: flex;
    background-color:#E9F8EB;
    padding:10px 200px 10px 34px;
    margin-bottom: 22px;
    position: relative;
}
.notification::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 4;
    background: url("../images/second-log.svg");
    width:16px;
    height:16px;
    background-repeat: no-repeat;
} */
/* Third type */
/* .notification{
    display: flex;
    background-color:#FFF8E0;
    padding:10px 200px 10px 34px;
    margin-bottom: 22px;
    position: relative;
}
.notification::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 4;
    background: url("../images/third-log.svg");
    width:16px;
    height:16px;
    background-repeat: no-repeat;
} */
/* Fourth Type */
/* .notification{
    display: flex;
    background-color:#FDEAE4;
    padding:10px 200px 10px 34px;
    margin-bottom: 22px;
    position: relative;
}
.notification::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 4;
    background: url("../images/fourth-log.svg");
    width:16px;
    height:16px;
    background-repeat: no-repeat;
} */
.text{
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    border:none;
    border-radius: 4px;
    padding:10px 20px;
}
.btn-blue,
.btn-white{
    border:none;
    border-radius: 4px;
    padding:10px 20px;
}
.btn-blue{
    background-color: #3E56AA;
    color:white;
    margin-right: 12px;
}

.link {
    display:flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;        
}

